.introducaoProdutos {
    background: url(../img/Portfolio/Produtos-1.svg) no-repeat center;
    background-size: cover;
}


/* Orçamento */

.orcamento {
    width: 100%;
    margin-top: 60px;
    padding: 40px 0px;
}

.orcamento h2 {
    color: #FEC63E;
}

.orcamento h2:after {
    background-color: #FEC63E;
}

.form {
    padding-right: 60px;
}

.form label {
    display: block;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    border: 4px solid #FEC63E;
    background: none;
    color: #000000;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 4px solid #FEC63E;
    background: none;
    color: #000000;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
    background: none;
    padding: 7px 40px;
}

.orcamentoDados {
    color: #000000;
}

.orcamentoDados h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FEC63E;
}

.orcamentoDados span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dadosEmail {
    margin-bottom: 40px;
}

.orcamentoDados ul {
    padding-right: 60px;
}

.orcamentoDados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 10px 10px 0px;
}

.orcamentoDados ul li:nth-child(odd) {
    background-color: none;
}

.orcamentoDados p {
    margin: 8px 8px;
}

.numero {
    margin-top: 20px;
}

.orcamentoDados ul li {
    display: inline-block;
    background: none;
}

.contatosRedes ul li {
    display: inline-block;
}

.contatosRedes ul li a {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FEC63E;
}

.contatosRedes ul li a:hover {
    border-color: #000000;
}

.contatosRedes ul li a img {
    width: 32px;
    height: 32px;
}

.contatosRedes {
    padding-top: 40px;
}

.mapa {
    text-align: center;
    padding: 60px;
}

.btnPreto:hover {
    border-color: #000000;
}

.mapa {
    display: flex;
    justify-content: center;
    text-align: center;
}